body {
    background-color: rgb(40,40,40);
    color: white;
    padding: 0;
    margin: 0;
}

img {
    max-height: 400px;
    max-width: 20%;
}

p {
    font-family: alata, helvetica;
    font-size: 20px;
    color: white;
    text-align: center;
}

h1 {
    font-family: alata, helvetica;
    font-size: 50px;
    color: rgb(200 ,200 ,200);
    text-align: center;
}

a {
    margin: 0 auto;
    font-family: alata, helvetica;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

a:visited {
    font-family: alata, helvetica;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

hr {
    height: 2px;
    width: 1000px;
    border-width: 0;
    color: gray;
    background-color: dimgrey;
}

.navbar {
    overflow: hidden;
    background-color: rgb(70,150,190);
}

.navbar a {
    background-color: rgb(100,180,220);
    color: black;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    background-color: rgb(100,180,220);
    border: none;
    color: black;
    font-size: 16px;
    font-family: alata, helvetica;
    padding: 14px 16px;
    margin: 0;
}

.dropbtn {
    padding: 0;
    height: auto;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(80,160,200);
}

.dropdown-content {
    float: none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    float: none;
    position: relative;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(80,160,200);
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(80, 160, 200);
    width: 120px;
    height: 35px;
    outline: none;
}

.active {
    background-color: rgb(80, 160, 200);
}

.block {
    background-color: rgb(35, 35, 35);
    text-align: center;
    margin: 0 auto;
    max-width: 45%;
    display:flex;
    flex-direction:column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid rgb(25, 25, 25);
}

.delButton {
    min-height: 30px;
    min-width: 80px;
    color: red;
    background-color: rgb(30, 30, 30);
}

.saveButton {
    min-height: 30px;
    min-width: 80px;
    color: green;
    background-color: rgb(30, 30, 30);
}
.submitButton {
    min-height: 30px;
    min-width: 80px;
    color: white;
    background-color: rgb(70, 150, 200);
    box-shadow: none;
}
